@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
/*<---------------------------------------------------------------------fonts------------------------------------------------------------------------------->*/
@font-face {
  font-family: Ubuntu-Regular;
  src: url(../font/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Kanit;
  src: url(../font/Kanit-Light.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");